@import './variables.scss';
@import './fonts';

body {
	background-color: $grey;
	font-size: 8px;
	font-family: 'Montserrat', sans-serif;
	color: $main-color;
	height: 100vh;
	font-weight: 400;
}

a {
	color: $main-color;
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@each $key, $value in $genres {
  .#{$key} svg {
  	.stroke-colored {
		stroke: $value !important;
	}
	.fill-colored {
		fill: $value !important;
	}
  }
}

.table {
	display: table;
	table-layout: fixed;
	.tr {
		display: table-row;
		.td {
			display: table-cell;
			text-align: center;
		}
	}
}

.overlay {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	// background: map-get($genres, action);
	background-image: linear-gradient(160deg, #FD6768, rgba(0, 0, 0, 0)), linear-gradient(#E61D1E, #E61D1E);
	.logo {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 43%;
	}
}