@import './variables.scss';
@import './fonts';

body {
	background-color: $grey;
	font-size: 8px;
	font-family: 'Montserrat', sans-serif;
	color: $main-color;
	height: 100vh;
	font-weight: 400;
}

a {
	color: $main-color;
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

svg.thriller * {
	fill: $thriller;
}